body {
    background: darkred;
}

.errors {
    margin: 10px 0;
    color: indianred;
    font-weight: bold;
}

.errors, label.error {
    background: #ddd;
    border-radius: 5px;
    padding: 5px;
}

.errors .error {
    color: black;
    font-weight: bold;
}

label.error {
    color: indianred;
    margin-top: -3px;
    border-radius: 0 0 5px 5px;
    position: relative;
    display: block;
    cursor: pointer;
}

.error-message {
    color: indianred;
    font-weight: bold;
}

.form-control {
    z-index: 1;
    position: relative;
}



#pizza-img {
    display: inline-block;
}

#pizza-pizza {
    position: relative;
    left: -165px;
    top: 100px;
    transform: rotate(30deg);
    display: inline-block;
    font-weight: bold;
    font-size: 20pt;
    text-shadow: 1px 1px white;
}











tfoot {
    font-weight: bold;
}